.affiliate-program {
  padding-top: 41px;

  @include media-breakpoint-up(lg) {
    padding-top: to-rem(112px);
  }
  //display: block;
  //padding-top: 360px;


  &__container {

    @include media-breakpoint-up(lg) {
      margin-left: 50%;
      padding-left: to-rem(32px);
      max-width: response-width(780px);
      position: relative;
    }

    &::after {
      content: '';
      background: url("../img/affiliate-program-table.png") no-repeat;
      background-size: contain;
      width: 323px;
      height: 557px;
      margin-top: -54px;
      margin-bottom: -82px;
      display: block;

      @include media-breakpoint-up(lg) {
        width: to-rem(527px);
        height: to-rem(867px);

        position: absolute;

        top: 50%;
        right: 100%;

        margin-top: to-rem(-444px);
        margin-right: to-rem(60px);
        margin-bottom: 0;
      }
    }
  }
  &__title {
    margin-bottom: 18px;
    white-space: nowrap;
    @include media-breakpoint-up(lg) {
      margin-bottom: to-rem(32px);
    }
  }
  &__list {
    margin-bottom: 0;
    //@include font-size(20px);
  }
}