.faq {
  display: block;
  padding-top: 36px;

  @include media-breakpoint-up(lg) {
    padding-top: 260px;
  }

  &__title {
    margin-bottom: 22px;
    @include media-breakpoint-up(lg) {

      text-align: center;
      margin-bottom: 38px;
    }
  }
  &__container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-up(lg) {
    &__collapse {
      padding-left: 35px;
    }
  }

}

//$collapse-max-width: 700px;
$collapse-header-height: 46px;
$collapse-header-padding-left: 26px;

.faq-collapse {
  //overflow: hidden;
  //max-width: $collapse-max-width;

  @include media-breakpoint-up(lg) {
    min-height: $collapse-header-height;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  &.active {
    .faq-collapse__icon {
      transform: scaleX(-1) rotate(135deg);
      @include media-breakpoint-up(lg) {
        transform: rotate(45deg);
      }
    //  &::after {
    //    width: $collapse-max-width;
    //  }
    }
    .faq-collapse__container {
      height: auto;
      transition-delay: .5s;
    }
    .faq-collapse__line {
      flex: 1;
      transition-delay: 0s;
    }
  }
  &__header {
    padding-left: 21px;
    position: relative;

    @include media-breakpoint-up(lg) {
      height: $collapse-header-height;
      overflow: hidden;
      display: flex;
      align-items: center;
      z-index: 1;
      padding-left: 0;
    }
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 12px;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    border: 1px solid $main-color;
    border-left: 0;
    border-bottom: 0;
    transition: transform .3s ease-in-out;

    @include media-breakpoint-up(lg) {
      width: 31px;
      height: 31px;
      border: 1px solid $main-color;
      border-radius: 50%;
      position: relative;
      transition: transform .5s ease;
      transform: none;
      top: 0;
      &::before {
        content: '';
        position: absolute;
        width: 13px;
        height: 1px;
        background: $main-color;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
      }
      &::after {
        content: '';
        position: absolute;
        width: 13px;
        height: 1px;
        background: $main-color;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__line {
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
      flex: 0;
      height: 1px;
      width: 100%;

      background: $main-color;
      //left: 100%;
      //bottom: 0;
      //top: $collapse-header-height/2;
      //width: 0;
      transition: all .5s ease .5s;
      //transition-delay: .5s;
    }
  }
  &__title {
    position: relative;
    //background: black;
    font-size: 18px;
    line-height: 24px;
    @include media-breakpoint-up(lg) {
      margin-left: 12px;
      flex: none;
      //padding-left: $collapse-header-padding-left;
      font-size: 24px;
      line-height: 30px;
      cursor: pointer;

      display: inline-block;
      margin-right: 10px;

    }
    //&::before {
    //  content: '';
    //  position: absolute;
    //  left: 0;
    //  top: 50%;
    //  width: 31px;
    //  height: 31px;
    //  border: 1px solid $main-color;
    //  margin-top: -15px;
    //  margin-left: -15px;
    //  border-radius: 50%;
    //}
    //&::after {
    //  content: '';
    //  position: absolute;
    //  background: $main-color;
    //  left: 100%;
    //  //bottom: 0;
    //  top: $collapse-header-height/2;
    //  height: 1px;
    //  width: 0;
    //  transition: width .5s ease;
    //}
  }
  &__container {
    overflow: hidden;
    position: relative;
    height: 0;
    transition: height .5s ease 0s;
    margin-top: 17px;

    @include media-breakpoint-up(lg) {
      margin-left: 15px;
      margin-top: -$collapse-header-height/2;

      &::before {
        content: '';
        position: absolute;
        background: $main-color;
        left: 0;
        bottom: 0;
        top: $collapse-header-height/2;
        width: 1px;

      }
    }

  }
  &__body {
    padding: 14px 19px 12px 19px;
    border: 1px solid $main-color;
    font-size: 14px;
    line-height: 20px;
    color: #888888;
    @include media-breakpoint-up(lg) {
      padding: 20px 26px 15px $collapse-header-padding-left;
      border-left-color: transparent;
      border-top-color: transparent;
      @include font-size(18px);
      line-height: 1.33333;
    }
    //border-right: 1px solid $main-color;
    //border-bottom: 1px solid $main-color;

  }
}