%fixed-block {
  @if ($control-disabled) {
    display: none;
  }

  position: fixed;
  z-index: 100;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  height: 72px;

  padding-right: map_get($viewport-padding, xs);
  padding-left: map_get($viewport-padding, xs);
  pointer-events: all;
  //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);

  @include media-breakpoint-up(md) {
    height: 130px;
    padding-top: 40px;
    padding-right: map_get($viewport-padding, md);
    padding-left: map_get($viewport-padding, md);
    background: transparent;

  }
  @include media-breakpoint-up(xl) {
    height: 150px;
    padding-top: 50px;
    padding-right: map_get($viewport-padding, xl);
    padding-left: map_get($viewport-padding, xl);
    background: transparent;

  }

  //display: flex;
  //padding: 75px;
  //align-items: center;

  &_white {
    z-index: 101;

    .h-logo {
      background-image: url('../img/logo-white.svg');
    }

    .h-menu-btn__icon span {
      background-color: #fff;
    }

    .h-menu-btn__text {
      color: #fff;
    }
  }

  &__inner {
    display: flex;
    position: relative;
    align-items: center;

    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;

    @include media-breakpoint-up(md) {
      max-width: 768px;
    }

    @include media-breakpoint-up(xl) {
      max-width: none;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

    @include media-breakpoint-up(md) {

    }
    @include media-breakpoint-up(xl) {
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  &__btn {
    display: none;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    @include media-breakpoint-up(md) {
      display: block;
    }
    @include media-breakpoint-up(xl) {
      right: 0;
      transform: translate(0, -50%);
    }
  }

  &__menu-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}

.h-logo {
  display: block;
  width: 114px;
  height: 31px;
  background: url('../img/logo.svg') center no-repeat;
  background-size: contain;
  @include media-breakpoint-up(md) {
    width: to-rem(158px);
    height: to-rem(42px);
  }
}

.h-menu-btn {
  @include button-reset();
  display: flex;
  align-items: center;
  transition: all .5s ease;

  &:focus {
    outline: 0;
  }

  &:hover {
    .h-menu-btn__icon {
      span {
        width: 100%;
      }
    }
  }

  &.active {
    @include media-breakpoint-up(xl) {
      transform: translateX(420px);
    }
    //transform: translateX(-490px);
    .h-menu-btn__text {
      opacity: 0;
    }

    .h-menu-btn__icon {
      span {
        width: 100%;
        margin-top: -1px;

        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__text {
    margin: 0 17px;
    transition: opacity .5s ease;
    opacity: 1;
    color: #7c7c7c;
    font-family: $font-family-museo;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;

    @include media-breakpoint-down(md) {
      display: none;
    }

    @include media-breakpoint-up(md) {
      @include font-size(18px);
    }
  }

  &__icon {
    //display: flex;
    position: relative;
    //flex-direction: column;
    //justify-content: space-between;
    width: 50px;
    height: 27px;

    //@include media-breakpoint-up(md) {
    //  position: absolute;
    //  //display: flex;
    //  //flex-direction: column;
    //  //align-items: flex-end;
    //  //justify-content: center;
    //  top: 0;
    //  right: 0;
    //  height: 100%;
    //}

    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3px;
      transition: all .3s ease;
      border-radius: 3px;
      background-color: $main-color;

      &:nth-child(1) {
        width: 100%;
        margin-top: -13px;
      }

      &:nth-child(2) {
        width: 68%;
        margin-top: -1px;
      }

      &:nth-child(3) {
        width: 84%;
        margin-top: 11px;
      }
    }
  }
}

.social-links {
  display: none;
  position: fixed;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  transition: margin-right .5s ease;
  pointer-events: all;

  @include media-breakpoint-up(xl) {
    display: block;
    z-index: 60;
    left: map_get($viewport-padding, xl);
  }

  &_white {
    .social-links__link {
      color: #fff;

      &::before {
        background-image: url('../img/border-small-white.png');
      }

      &:hover {
        background: #fff;
        color: $main-color;
      }
    }
  }

  &__link {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    margin: 9px 0;
    //transition: all .3s ease;
    border-radius: 50%;
    color: $main-color;
    text-align: center;
    text-decoration: none;

    > svg {
      height: 20px;
    }

    &:hover {
      background: $linear-gradient;
      color: #fff;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 54px;
      height: 54px;
      margin-top: -27px;
      margin-left: -27px;
      background: url("../img/border-small.png");
      background-size: contain;
    }

    @include media-breakpoint-up(xl) {
      width: 66px;
      height: 66px;
      margin: 12px 0;
      &::before {
        width: 68px;
        height: 68px;
        margin-top: -34px;
        margin-left: -34px;
      }
    }
  }
}

.menu {
  position: fixed;
  z-index: 90;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: $font-family-museo;
  font-size: 22px;
  font-weight: 300;
  pointer-events: none;

  &.active {
    .menu__clip {
      bottom: 0;
    }
  }

  .social-links {
    display: block;
    right: 20px;
  }

  @include media-breakpoint-up(xl) {
    z-index: 110;
    width: 420px;
    padding-top: 0;
    transform: translateX(-100%);
    transition: transform .5s ease;
    box-shadow: 12px 0px 51px 0px rgba(38, 38, 38, 0.1);
    @include font-size(30px);

    .social-links,
    .header {
      display: none;
    }

    &.active {
      transform: translateX(0);
    }
  }

  &__clip {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    //bottom: 0;
    bottom: 100%;
    left: 0;
    clip: rect(auto, auto, auto, auto);
    transition: bottom .5s ease;
    pointer-events: none;

    @include media-breakpoint-up(xl) {
      bottom: 0;
    }
  }

  &__container {
    position: fixed;
    z-index: 90;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 72px;
    background-color: #fff;
    pointer-events: all;
    @include media-breakpoint-up(md) {
      padding: 130px map_get($viewport-padding, md) 0;
    }
    @include media-breakpoint-up(xl) {
      padding: 0;
    }

  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  height: 100%;
  margin: 0;
  //padding: 17px 20px;
  //padding-left: 0;
  overflow: auto;
  //min-height: 700px;
  list-style: none;
  counter-reset: section;
  @include media-breakpoint-up(xl) {
    padding: map_get($viewport-padding, xl) 10px map_get($viewport-padding, xl) map_get($viewport-padding, xl);
  }

  &__link {
    color: inherit;

    &:hover {
      color: $main-color;
      text-decoration: none;
    }

    &.active {
      //color: white;
      color: $main-color;
      font-weight: 600;
      //@include media-breakpoint-up(md) {
      //}
    }
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 7px;
    }

    @include media-breakpoint-up(md) {
      padding-left: 60px;
      &::after {
        content: "0" counter(section);
        position: absolute;
        top: 0;
        left: 0;
        counter-increment: section;
      }
      &:nth-child(n+10) {
        &::after {
          content: counter(section);
        }
      }
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}