$viewport-padding: 75px;

%fixed-block {
  @if ($control-disabled) {
    display: none;
  }

  position: fixed;
  z-index: 100;
}

.header {
  @extend %fixed-block;

  top: 0;
  right: 0;
  left: 0;

  height: 72px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);

  @include media-breakpoint-up(lg) {
    height: 160px;
    //background: transparent;

  }

  //display: flex;
  //padding: 75px;
  //align-items: center;

  &__logo {

    @include media-breakpoint-up(lg) {
      left: $viewport-padding;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;

    @include media-breakpoint-down(md) {
      display: none;
    }
    //left: 374px;

    //.fp-viewing-page1 & {
    //  left: $s1-content-left;
    //}
  }

  &__menu {

    @include media-breakpoint-up(lg) {
      right: $viewport-padding;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.header-logo {
  background: url('../img/logo.png') center no-repeat;
  background-size: contain;
  display: block;
  width: 114px;
  height: 31px;
  @include media-breakpoint-up(lg) {
    width: to-rem(158px);
    height: to-rem(42px);
  }
}

.menu-btn {
  @include button-reset();
  text-transform: uppercase;
  font-size: 18px;
  font-weight: $font-weight-medium;
  transition: margin-right .5s ease;
  @include media-breakpoint-up(lg) {
    @include font-size(18px);
    padding-right: 54px;
  }
  //position: relative;

  &:focus {

    outline: 0;
  }
  &:hover {
    .menu-btn__icon {
      span {
        width: 100%;
      }
    }
  }

  &.active {
    @include media-breakpoint-up(lg) {
      margin-right: 490px;
    }
    //transform: translateX(-490px);
    .menu-btn__text {
      opacity: 0;
    }
    .menu-btn__icon {
      span {
        width: 100%;
        margin-top: -1px;

        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__text {
    opacity: 1;
    transition: opacity .5s ease;
    @include media-breakpoint-down(md) {
      display: none;

    }
  }

  &__icon {
    display: inline-block;
    width: 30px;
    height: 12px;
    position: relative;

    @include media-breakpoint-up(lg) {
      position: absolute;
      //display: flex;
      //flex-direction: column;
      //align-items: flex-end;
      //justify-content: center;
      right: 0;
      top: 0;
      height: 100%;
    }

    span {
      display: block;
      height: 2px;
      width: 30px;
      background-color: $orange;
      position: absolute;
      top: 50%;
      right: 0;
      transition: all .3s ease;

      &:nth-child(1) {
        width: 30px;
        margin-top: -6px;
        //margin-bottom: 3px;
      }

      &:nth-child(2) {
        width: 17px;
        margin-top: -1px;
        //margin-bottom: 3px;
      }

      &:nth-child(3) {
        width: 22px;
        margin-top: 4px;
      }
    }
  }
}

.social-links {
  @extend %fixed-block;

  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  transition: margin-right .5s ease;
  margin-right: -100%;
  &.active {
    margin-right: 0;
  }

  //display: none;
  @include media-breakpoint-up(lg) {
    //  display: block;
    right: to-rem($viewport-padding);
    margin-right: 0;
    z-index: 60;
  }

  //@include media-breakpoint-down(md) {
  //  display: none;
  //}
  &__link {
    color: #b9b9b9;
    text-decoration: none;
    display: block;
    width: 30px;
    text-align: center;
    margin: 18px 0;
    transition: all .3s ease;

    > svg {
      height: 20px;
    }

    &:hover {
      color: $orange;
    }
  }
}

.page-nav {
  @extend %fixed-block;

  left: $viewport-padding;
  top: 50%;
  transform: translate(-50%, -50%);

  @include media-breakpoint-down(md) {
    display: none;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }
  &__item {
    position: relative;
    //flex: 1 0;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;

    &:not(:first-child) {
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        width: 1px;
        background: $main-color;
        //opacity: 0.2;
        //height: 50px;
        //bottom: 15px;
        transition: $animation;

        top: -7px;
        bottom: 23px;
      }
    }

    &.active {
      //.page-nav__link {
      //
      //}

      .page-nav__name {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
      ~ .page-nav__item {

        &::before {
          opacity: 0.2;
        }

        .page-nav__link {
          &::after {
            opacity: 0.34;
            transform: rotate(45deg);
            box-shadow: none;
          }
        }
      }
    }
  }
  &__link {
    display: block;
    position: relative;

    width: 30px;
    height: 30px;
    padding: 9px;
    //margin-bottom: 27px;

    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      //transform: rotate(45deg);

      border: 1px solid $main-color;
      background-color: #111114;
      //opacity: 0.34;
      transition: $animation;

      transform: rotate(45deg) scale(1.2);
      box-shadow: 0 0 16px 6px rgba($main-color, 0.25);
    }

    //&.active {
    //  &::after {
    //    transform: rotate(45deg) scale(1.2);
    //    box-shadow: 0 0 16px 6px rgba($main-color, 0.25);
    //    opacity: 1;
    //  }
    //
    //  &::before {
    //    opacity: 1;
    //  }
    //}
    //
    //&.active {
    //  .page-nav__name {
    //    opacity: 1;
    //    visibility: visible;
    //    transform: translateX(0);
    //  }
    //}
    &:hover {
      .page-nav__name {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }

  &__name {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    color: #888888;

    position: absolute;

    left: 48px;
    top: 6px;

    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden;
    transition: $animation;
    white-space: nowrap;

  }

  &__scroll-down {
    display: block;
    background: url('../img/mouse.png') center no-repeat;
    width: 17px;
    height: 30px;
    position: relative;

    margin-left: auto;
    margin-right: auto;
  }

  &__scroll-text {
    position: absolute;
    transform-origin: right center;
    text-transform: uppercase;
    color: #888888;
    transform: rotate(-90deg);
    white-space: nowrap;
    right: 50%;
    bottom: -40px;
    letter-spacing: 3px;
    font-size: 14px;
  }
}

.page-number {
  @extend %fixed-block;

  right: to-rem($viewport-padding);
  bottom: to-rem($viewport-padding);

  font-family: $font-family-neumann;

  @include media-breakpoint-down(md) {
    display: none;
  }
  &__current {
    color: $orange;

    @include font-size(42px);
  }

  &__total {
    color: #888888;

    @include font-size(21px);

    &::before {
      content: '/';
    }
  }
}

.menu {
  position: fixed;
  background-color: rgba(black, .5);
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 90;

  transition: transform .5s ease;

  padding-top: 72px;
  width: 100%;
  transform: translateX(100%);

  //@if $dev-mode {
  //  background: url("../img/rm/mob-320_menu.png") center top no-repeat;
  //}
  backdrop-filter: saturate(180%) blur(20px);
  @include media-breakpoint-up(lg) {
    width: 490px;
    padding-top: 0;
    z-index: 110;
  }

  &.active {
    transform: translateX(0);
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    counter-reset: section;
    //padding-left: 0;
    overflow: auto;
    //min-height: 700px;
    padding: 17px 20px;
    @include media-breakpoint-up(lg) {
      padding: 70px 75px 70px 80px;
    }
  }
  &__item {
    position: relative;
    padding-left: 43px;
    font-size: 24px;
    color: #888888;
    text-transform: uppercase;
    &::before {
      content: '';
      position: absolute;
      left: 10px;
      width: 1px;
      background: $main-color;
      height: 48px;
      top: -30px;
      transition: $animation;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
    &:not(:last-child) {
      margin-bottom: 21px;

    }

    &.active {
      color: white;
      //  &::before {
      //    transform: rotate(45deg) scale(1.5);
      //    opacity: 1;
      //    box-shadow: 0 0 16px 6px rgba($main-color, 0.25);
      //  }
      //
      //  //&::before {
      //  //  opacity: 1;
      //  //}

      ~ .menu__item {

        &::before {
          opacity: 0.2;
          top: -32px;
        }

        .menu__link {
          &::before {
            opacity: 0.34;
            transform: rotate(45deg);
            box-shadow: none;
          }
        }
      }

      @include media-breakpoint-up(lg) {
        color: $main-color;
      }
    }

    @include media-breakpoint-up(lg) {
      padding-left: 60px;
      @include font-size(30px);
      color: white;
      &::before {
        display: none;
      }
      &::after {
        counter-increment: section;
        content: "0" counter(section);
        font-family: $font-family-neumann;
        @include font-size(21px);
        position: absolute;
        left: 0;
        color: #888888;
        top: 7px;
      }
      &:nth-child(n+10) {
        &::after {
          content: counter(section);
        }
      }
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  &__link {
    color: inherit;
    &:hover {
      color: #f6c55d;
      text-decoration: none;
    }
    &::before {
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      //transform: rotate(45deg);

      border: 1px solid $main-color;
      background-color: #111114;
      //opacity: 0.34;
      transition: $animation;

      left: 5px;
      top: 13px;

      transform: rotate(45deg) scale(1.5);
      opacity: 1;
      box-shadow: 0 0 16px 6px rgba($main-color, 0.25);
    }

    @include media-breakpoint-up(lg) {
      &::before {
        display: none;
      }
    }
  }
}
