//html {
//  &:not(.fp-enabled) {
//    .section {
//      height: 100vh;
//    }
//  }
//}
.orange {
  color: $orange;
}

body {
  background: url('../img/bg.jpg') center no-repeat;
  background-size: cover;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  :not(.fp-enabled) & {
    height: 100vh;
  }
  &__container {
  }
}

//@if $dev-mode {
//  body {
//    background-image: url("../img/rm/1920.png");
//    background-size: 1920px auto;
//    background-position: center top;
//    background-repeat: no-repeat;
//  }
//}

// Углы у кнопок
%button-corners {
  content: '';
  width: 81px;
  height: 13px;
  border: 1px solid $orange;
  position: absolute;
  transition: transform .3s ease;
}

.button {
  @include button-reset();
  position: relative;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 18px 37px;

  &::before {
    @extend %button-corners;

    border-bottom: 0;
    border-right: 0;
    top: 0;
    left: 0;
  }

  &::after {
    @extend %button-corners;

    border-top: 0;
    border-left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover {
    &::before {
      transform: translate(-5px, -5px);
    }

    &::after {
      transform: translate(5px, 5px);
    }
  }
}

//.animate {
//  animation-name: fadeIn;
//}

.animated {
  animation-delay: $delay;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.viewed {
  .fadeInDown {
    animation-name: fadeInDown;
  }

  .fadeIn {
    animation-name: fadeIn;
  }

  .fadeInLeft {
    animation-name: fadeInLeft;
  }

  .fadeInRight {
    animation-name: fadeInRight;
  }
}