html {
  font-size: 16px;
  //@include media-breakpoint-up(md) {
  //  @if ($enable-responsive) {
  //    font-size: 16/1040 * 100vw;
  //  }
  //}
  @include media-breakpoint-up(xl) {
    @if ($enable-responsive) {
      font-size: 16/1920 * 100vw;
    }
  }
}

body {
  background: url("../img/bg.png");
  font-size: 14px;
  line-height: (20 / 14);

  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.5;
  }

  @include media-breakpoint-up(xl) {
    @include font-size(18px);
    line-height: 1.5;
  }


  @include dev {
    background: url("../img/rm/360.png") center top no-repeat;
    background-size: 360px auto;
    @include media-breakpoint-up(md) {
      background: url("../img/rm/1040.png") center top no-repeat;
      background-size: 1040px auto;
    }
    @include media-breakpoint-up(xl) {
      background: url("../img/rm/1920.png") center top no-repeat;
      background-size: 1920px auto;
    }
  }
}

.container {
  width: 100%;
  max-width: map_get($container-max-widths, xs);
  margin-right: auto;
  margin-left: auto;

  @include media-breakpoint-up(md) {
    max-width: map_get($container-max-widths, md);
  }
  @include media-breakpoint-up(xl) {
    max-width: response-width(map_get($container-max-widths, xl));
  }
}

.loader {
  display: flex;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;

  &__logo {
    width: 339px*0.5;
    height: 91px*0.5;
  }

  &__title {
    margin-top: 20px;
    color: $main-color;
    font-size: 20px;
  }

  @include media-breakpoint-up(md) {
    &__logo {
      width: 339px;
      height: 91px;
    }
    &__title {
      margin-top: 40px;
      font-size: 40px;
    }
  }
}

.main {
  //@include media-breakpoint-up(md) {
  //  overflow: hidden;
  //}

  &__clip {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    clip: rect(auto, auto, auto, auto);
    pointer-events: none;

    //&::before {
    //  content: '';
    //  position: fixed;
    //  top: 0;
    //  right: 0;
    //  left: 0;
    //  height: 150px;
    //  background-color: #fff;
    //  z-index: 100;
    //}
  }
  &__group {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1920px 100%;
    //clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 100% 100%);
    //clip-path: polygon(0% 100%, 100% 100%, 100% 0%,0% 0%);

    //clip: rect(auto, auto, auto, auto);
    //background-image: url("../img/bg.png");
    //background-color: white;

    &_first {
      background-image: url("../img/group-1-bg.png");
    }

    &_white-2 {
      background-image: url("../img/group-2-bg.png");
    }

    &_white-3 {

    }

    &_last {
      background-image: url("../img/group-4-bg.png");
    }

    &_blue {
      background-image: url("../img/section-blue-bg.jpg"), $linear-gradient;
      color: #fff;
      //clip-path: polygon(0% 100%, 100% 100%, 100% 0%,0% 0%);

      .section-title {
        color: #fff;
      }

      //clip: rect(auto, auto, auto, auto);
      //&::before {
      //  content: '';
      //  position: fixed;
      //  top: 0;
      //  right: 0;
      //  left: 0;
      //  height: 150px;
      //  background-color: #fff;
      //  z-index: 100;
      //}
    }
  }
}

.section {
  position: relative;
}

.section-title {
  color: $main-color;
  font-family: $font-family-museo;
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;

  .selected {
    color: #000;
  }

  @include media-breakpoint-up(md) {
    font-size: 35px;
    line-height: 40px;
  }
  @include media-breakpoint-up(xl) {
    @include font-size(58px);
    line-height: 1;
  }
}

.section-subtitle {
  font-size: 14px;
  line-height: 20px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.5;
  }
  @include media-breakpoint-up(xl) {
    @include font-size(18px);
    line-height: 1.5;
  }
}

.section-list {
  padding-left: 19px;
  list-style: none;

  li {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 7px;
      left: -20px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-image: $linear-gradient;
    }
  }

  @include media-breakpoint-up(md) {
    padding-left: 18px;

    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &::before {
        top: 9px;
        left: -18px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    padding-left: 18px;

    li {
      &:not(:last-child) {
        margin-bottom: to-rem(21px);
      }

      &::before {
        top: 9px;
        left: -18px;
      }
    }
  }
}

.button {
  position: relative;
  min-width: 250px;
  padding: 26px 40px 25px;
  //transition: box-shadow .3s ease;
  border: 0;
  border-radius: 77px;
  background: $main-color url("../img/button-bg.jpg") no-repeat;
  background-size: cover;
  box-shadow: (
    0px -1px 0px 0px rgba(#fff, 0.15) inset,
    0px -12px 29px 0px rgba($btn-color-shadow, 0.83) inset,
    0px 5px 0px 0px rgba($btn-color-shadow, 1),
    0px 30px 15px -15px rgba($btn-color-shadow-bottom, 0.5)
  );
  color: #fff;
  font-family: $font-family-museo;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-shadow: 0px -1px 0px #258dd7;

  @include media-breakpoint-up(md) {
    //@include font-size(18px);
    //padding: to-rem(30px) to-rem(37px) to-rem(29px);
    //line-height: 1;
  }
  @include media-breakpoint-up(xl) {
    @include font-size(18px);
    min-width: 278px;
    padding: to-rem(30px) to-rem(37px) to-rem(29px);
  }

  &:hover {
    box-shadow: (
      0px -1px 0px 0px rgba(#fff, 0.15) inset,
      0px -12px 29px 0px rgba($btn-color-shadow, 0.83) inset,
      0px 5px 0px 0px rgba($btn-color-shadow, 1),
    );
  }

  &:active {
    transform: translateY(5px);
    box-shadow: (
      0px -1px 0px 0px rgba(#fff, 0.15) inset,
      0px -12px 29px 0px rgba($btn-color-shadow, 0.83) inset,
    );
  }

  &:focus {
    outline: none;
  }
}

//.animate {
//  animation-name: fadeIn;
//}

@if $dev-mode != true {
  .animated {
    animation-delay: $delay;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  $i: 10;
  @while $i > 0 {
    .animated-order-#{$i} {
      animation-delay: $delay + (0.2s * ($i - 1));
      $i: $i - 1;
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -50px, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100px, 0, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100px, 0, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @include media-breakpoint-up(md) {
    .active {
      .fadeInDown {
        animation-name: fadeInDown;
      }

      .animated-name-fadeIn,
      .fadeIn {
        animation-name: fadeIn;
      }

      .animated-name-fadeInLeft,
      .fadeInLeft {
        animation-name: fadeInLeft;
      }

      .fadeInRight {
        animation-name: fadeInRight;
      }
    }
  }
}