.last {
  position: relative;
  padding-top: 41px;
  padding-bottom: 50px;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    background: url('../img/last-img.png');
    background-size: contain;
    pointer-events: none;
  }

  @include media-breakpoint-up(md) {
    padding-top: 115px;
    padding-bottom: 135px;
    text-align: left;
    //padding-left: (68px);
    //background: url("../img/last-section-bg.jpg") center no-repeat;
    //background-size: cover;
    &::before {
      top: 70px;
      left: calc(50% - 100px);
      width: 724px;
      height: 525px;
    }
  }
  @include media-breakpoint-up(xl) {
    //text-align: left;
    padding-top: to-rem(260px);
    padding-bottom: to-rem(360px);
    padding-left: to-rem(68px);
    //background: url("../img/last-section-bg.jpg") center no-repeat;
    //background-size: cover;

    &::before {
      top: to-rem(151px);
      left: calc(50% - #{to-rem(195px)});
      width: to-rem(1108px);
      height: to-rem(803px);
    }
  }

  &__title {
    @include media-breakpoint-up(md) {
      max-width: 440px;
      margin-bottom: 26px;
    }
    @include media-breakpoint-up(xl) {
      max-width: response-width(700px);
      margin-bottom: to-rem(46px);
    }
  }

  &__subtitle {
    @include media-breakpoint-up(md) {
      max-width: 440px;
      margin-bottom: 39px;
    }
    @include media-breakpoint-up(xl) {
      max-width: response-width(620px);
      margin-bottom: to-rem(38px);
    }
  }
}