//.section-2 {
//  @if $dev-mode {
//    display: block;
//    padding-top: 270px;
//  }
//}

.about {
  padding-top: 23px;
  @include media-breakpoint-up(lg) {
    padding-top: to-rem(52px);
    text-align: center;
  }
  &__title {
    margin-bottom: 18px;
    @include media-breakpoint-up(lg) {
      margin-bottom: to-rem(42px);
    }
  }
  &__subtitle {
    max-width: 290px;
    margin-bottom: 28px;
    //animation-delay: $delay + .2s;
    @include media-breakpoint-up(lg) {
      max-width: response-width(1020px);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: to-rem(74px);
    }
  }
}

.your-actions {
  text-align: left;
  max-width: 280px;

  //animation-delay: $delay + .4s;
  @include media-breakpoint-up(lg) {
    display: flex;
    max-width: response-width(490px * 3);
    margin-left: auto;
    margin-right: auto;
  }
  &__col {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 28px;
    }

    @include media-breakpoint-up(lg) {
      flex: 0 0 percentage(1/3);
      max-width: percentage(1/3);
      padding: to-rem(52px) to-rem(30px) to-rem(46px) to-rem(60px);
      margin-bottom: 0;

      &:first-child {
        &::before {
          content: '';
          position: absolute;
          top: -4px;
          right: -4px;

          width: 9px;
          height: 9px;
          border: 1px solid #404040;
          transform: rotate(45deg);
        }
        &::after {
          content: '';
          position: absolute;
          top: 5px;
          right: 0;
          width: 1px;
          bottom: 0;
          background: linear-gradient(to bottom, rgba(#404040, 1), rgba(#404040, 0));
        }
      }
      &:last-child {
        &::before {
          content: '';
          position: absolute;
          bottom: -4px;
          left: -4px;

          width: 9px;
          height: 9px;
          border: 1px solid #404040;
          transform: rotate(45deg);
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          bottom: 5px;
          background: linear-gradient(to top, rgba(#404040, 1), rgba(#404040, 0));
        }
      }
    }
  }
  &__item {
    position: relative;
    padding-left: 65px;
    @include media-breakpoint-up(lg) {
      padding-left: to-rem(100px);
    }
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 7px;
    fill: $main-color;

    width: 48px;
    height: 48px;
    @include media-breakpoint-up(lg) {
      width: to-rem(69px);
      height: to-rem(69px);
    }

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 6px;
    @include media-breakpoint-up(lg) {
      margin-bottom: to-rem(13px);
      @include font-size(24px);
      line-height: 1.3333;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 20px;
    color: #888888;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      @include font-size(18px);
      line-height: 1.3333;
    }
  }
}

