.section-7 {

  padding-top: 27px;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
}

.traders-header {
  //padding-top: 198px;
  margin-bottom: 25px;
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: to-rem(36px);
    padding-top: to-rem(120px);
  }

  &__slogan {
    @include font-size(18px);
    color: #888888;
    margin-bottom: to-rem(27px);
    position: relative;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &::before,
    &::after {
      content: '';
      width: 390px;
      height: 13px;
      position: absolute;
      top: 4px;
    }

    &::before {
      background-image: url('../img/quote-decor-line.png');
      right: 100%;
      margin-right: to-rem(20px);
    }

    &::after {
      background-image: url('../img/line-right.png');
      left: 100%;
      margin-left: to-rem(20px);
    }
  }

  &__title {
    //font-family: $font-family-neumann;
    //font-size: 42px;
    //text-transform: uppercase;
  }
}

.traders {

  display: flex;
  flex-direction: column-reverse;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    justify-content: space-between;
    width: response-width(1140px);
    margin: 0 auto;
  }

  &__list {
    display: flex;
    margin-top: 33px;
    @include media-breakpoint-up(lg) {
      display: block;
      padding-left: to-rem(34px);
      margin-top: 0;
    }
  }
}

.trader-prev {
  //margin: 200px;
  flex: 0 0 percentage(1/3);
  @include media-breakpoint-up(lg) {
    width: response-width(120px);
    opacity: 0;
    transition: $animation;

    .active & {
      opacity: 1;
    }

    &:nth-child(1) {
      transition-delay: ($delay + $delay-interval * 0);
    }
    &:nth-child(2) {
      transition-delay: ($delay + $delay-interval * 4);
    }
    &:nth-child(3) {
      transition-delay: ($delay + $delay-interval * 8);
    }

    &:not(:last-child) {
      margin-bottom: to-rem(36px);
    }
  }

  &:hover {
    .trader-prev__img {
      > img {
        box-shadow: 0 0 20px rgba($orange, .25);
      }
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__img {
    width: 100%;
    height: 67px;
    //display: flex;
    position: relative;
    text-align: center;
    @include media-breakpoint-up(lg) {

      width: to-rem(120px);
      height: to-rem(120px);
    }
    > img {
      border-radius: 50%;
      box-shadow: 0 0 20px rgba($orange, .15);
      transition: all .3s ease;
      position: relative;
      max-width: 100%;
      max-height: 100%;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      background: url('../img/border.png') left bottom no-repeat;
      background-size: contain;
      width: 98px;
      height: 98px;
      left: 50%;
      top: 50%;
      margin-left: -49px;
      margin-top: -49px;

      transition: all .3s ease;
      @include media-breakpoint-up(lg) {
        width: to-rem(175px);
        height: to-rem(175px);
        margin-left: to-rem(-87px);
        margin-top: to-rem(-87px);
      }
    }
  }

  &__name {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    margin-top: 17px;
    @include media-breakpoint-up(lg) {
      @include font-size(14px);
      margin-top: to-rem(19px);
    }
  }
}

.trader-item {
  position: relative;
  &__img {
    position: absolute;

    //top: 50%;
    //transform: translateY(-50%);

    top: 10px;
    left: -350px;
    z-index: 1;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
.trader-info {
  //margin-left: 973px;
  //margin-top: 332px;
  //border: 1px solid $orange;


  @include media-breakpoint-up(lg) {
    width: response-width(550px);
    //height: 554px;
    color: #888888;
    @include font-size(18px);
    position: relative;
  }
  &__line {
    height: 1px;
    //width: 100%;
    background: $orange;
    position: relative;
    margin: 0 12px;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 9px;
      height: 9px;
      border: 1px solid $orange;
      transform: rotate(45deg);
      top: -4px;
    }

    &::before {
      left: -16px;
    }

    &::after {
      right: -16px;
    }
  }
  &__container {

    padding: 13px 15px;
    margin: 11px 0;
    border-left: 1px solid $orange;
    border-right: 1px solid $orange;
    @include media-breakpoint-up(lg) {

      padding: to-rem(25px) to-rem(40px);
    }
  }
  &__block:not(:last-child) {
    position: relative;

    margin-bottom: 16px;
    @include media-breakpoint-up(lg) {
      margin-bottom: to-rem(76px);
    }
    &:after {
      content: '';
      display: block;
      background: url('../img/line-right.png') left center no-repeat;
      width: 100%;
      height: to-rem(13px);
      position: absolute;
      bottom: to-rem(-49px);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &:not(:last-child) {
      margin-bottom: to-rem(26px);
    }
  }

  &__name {
    font-size: 24px;
    font-family: $font-family-neumann;
    color: white;

    @include media-breakpoint-up(lg) {
      @include font-size(42px);

    }
  }

  &__val {
    color: white;
    text-align: right;
  }
}
