$hero-padding-bottom: 100px;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  //padding-bottom: 480px;
  text-align: center;
  @include media-breakpoint-up(md) {
    align-items: flex-start;
    justify-content: center;
    padding-top: 213px;
    padding-bottom: 96px;
    text-align: left;
  }
  @include media-breakpoint-up(xl) {
    //height: (1017px + $hero-padding-bottom);
    //height: calc(100vh + 100px);
    //padding-top: 358px;
    //justify-content: center;
    //padding-top: 0;
    //padding-bottom: 100px;
    height: calc(100vh + #{$hero-padding-bottom});
    min-height: response-width(900px);
    padding-top: 0;
    padding-bottom: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 500px;
    left: calc(50% - 137px);
    width: 386px;
    height: 400px;
    background: url("../img/hero-img.png") no-repeat;
    background-size: contain;
    pointer-events: none;
    @include media-breakpoint-up(md) {
      top: calc(50% - 273px);
      left: calc(50% - 12px);
      width: 622px;
      height: 644px;
    }
    @include media-breakpoint-up(xl) {
      top: calc(50% - #{to-rem(410px)});
      left: calc(50% - 0.25rem);
      width: to-rem(932px);
      height: to-rem(965px);
    }
  }

  &__down {
    @include button-reset();
    position: absolute;
    bottom: ($hero-padding-bottom + 20px);
    left: 50%;
    width: 48px;
    height: 22px;
    overflow: hidden;
    transform: translateX(-50%);

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $main-color;
    }

    &::after {
      transform: rotate(45deg);
      transform-origin: left bottom;
    }

    &::before {
      transform: rotate(-45deg);
      transform-origin: right bottom;
    }
  }

  &__title {
    margin-bottom: 19px;
    color: $main-color;
    font-family: $font-family-museo;
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;

    .selected {
      color: #000;
      font-style: italic;
      font-weight: bold;
    }

    @include media-breakpoint-up(md) {
      max-width: 450px;
      margin-bottom: 22px;
      font-size: 40px;
      line-height: 45px;
    }
    @include media-breakpoint-up(xl) {
      max-width: response-width(650px);
      margin-bottom: 2rem;
      @include font-size(58px);
      line-height: 1;
    }
  }

  &__description {
    margin-bottom: 24px;
    color: #6c6c6c;
    font-size: 16px;
    line-height: 1.5;
    @include media-breakpoint-up(md) {
      max-width: 410px;
      margin-bottom: 36px;
    }
    @include media-breakpoint-up(xl) {
      max-width: response-width(620px);
      margin-bottom: 3rem;
      @include font-size(18px);
    }
  }

  //&__quote {
  //  margin-top: 50px;
  //  @include media-breakpoint-up(md) {
  //    position: absolute;
  //    bottom: 4.25rem;
  //    left: response-width(892px);
  //    margin-top: 0;
  //  }
  //
  //}
}

//@mixin image-size($path, $factor: 1) {
//  width: image-width($path) / $factor;
//  height: image-height($path) / $factor;
//}

.quote {
  position: relative;
  width: 100%;
  max-width: 320px;
  margin-top: 279px;
  //margin-right: auto;
  //margin-left: auto;
  padding: 32px 32px 28px;
  border-radius: 38px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(17, 17, 17, 0.05);
  text-align: right;
  @include media-breakpoint-up(md) {
    max-width: 576px;
    margin-top: 70px;
    margin-left: auto;
    padding: 36px 40px 27px;
    border-radius: 30px;
  }
  @include media-breakpoint-up(xl) {
    position: absolute;
    //top: calc(50% + 175px);
    //left: calc(50% + 276px);
    //right: map_get($viewport-padding, lg);
    right: response-width(-305px);
    bottom: ($hero-padding-bottom + 68px);
    max-width: response-width(613px);
    padding: 50px 43px;
    border-radius: 38px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 9px;
    right: 6px;
    bottom: 7px;
    left: 6px;
    border: 2px dotted #b1b1b1;
    border-radius: 30px;
    opacity: 0.62;
    pointer-events: none;


    @include media-breakpoint-up(xl) {
      top: 11px;
      right: 10px;
      bottom: 11px;
      left: 10px;
      border-radius: 37px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -18px;
    left: -16px;
    background: url('../img/icons/quote.svg') center no-repeat;
    background-size: contain;
    @include media-breakpoint-up(md) {
      width: 62px;
      height: 57px;
    }
  }

  &__text {
    text-align: left;

    .selected {
      color: $main-color;
      font-weight: $font-weight-bold;
    }

    @include media-breakpoint-up(xl) {
      @include font-size(20px);
      line-height: (26 / 20);
    }
  }

  &__author {
    display: inline-block;
    position: relative;
    margin-top: 12px;
    color: #000;
    font-family: $font-family-museo;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;

    text-align: right;
    @include media-breakpoint-up(md) {
      margin-top: 14px;
      font-size: 16px;
      //line-height: 26px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 19px;
      @include font-size(18px);
    }
  }
}
