.traders {
  padding-top: 48px;
  padding-bottom: 49px;
  //overflow: hidden;
  color: #fff;

  @include media-breakpoint-up(md) {
    padding-top: 65px;
    //padding-bottom: 76px;
    padding-bottom: 0;
  }
  @include media-breakpoint-up(xl) {
    padding-top: to-rem(103px);
    //padding-bottom: to-rem(102px);
  }

  &__slogan {
    display: none;

    //@include font-size(18px);

    @include media-breakpoint-up(md) {
      display: block;
      position: relative;
      margin-bottom: 15px;
      text-align: center;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: to-rem(17px);
    }
  }

  &__title {
    display: none;

    color: inherit;
    text-align: center;
    @include media-breakpoint-up(md) {
      display: block;
      margin-bottom: 31px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: to-rem(79px);
    }
  }
}

.traders-switch {
  display: flex;
  flex-direction: column-reverse;

  &__list {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 36px;
  }

  &__img {
    display: none;
  }

  &__info {

  }

  @include media-breakpoint-up(md) {
    position: relative;
    flex-direction: column;
    align-items: stretch;
    padding-bottom: 76px;
    padding-left: 220px;
    &__list {
      margin-top: 0;
      margin-bottom: 36px;
    }
    &__img {
      display: block;
    }
  }
  @include media-breakpoint-up(xl) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: to-rem(102px);
    padding-left: 0;
    &__list {
      z-index: 1;
      flex-direction: column;
      margin-bottom: 0;
      padding-left: 40px;
    }
    &__info {
      z-index: 1;
      flex: 0 0 50%;
    }
  }
}

.trader-prev {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 18px;
  cursor: pointer;

  &.active {
    display: none;
    //display: block;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
  @include media-breakpoint-up(xl) {
    flex-direction: column;
    margin: to-rem(18px) 0;
  }

  &:hover {
    .trader-prev__img {
      &::after {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }

  &__img {
    position: relative;
    width: 93px;
    height: 93px;
    text-align: center;

    @include media-breakpoint-up(xl) {
      width: to-rem(120px);
      height: to-rem(120px);
    }

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 112px;
      height: 112px;
      transform: translate(-50%, -50%);
      transition: all .3s ease;
      background: url('../img/border.png') left bottom no-repeat;
      background-size: contain;
      pointer-events: none;

      @include media-breakpoint-up(xl) {
        width: to-rem(145px);
        height: to-rem(145px);
      }
    }
  }

  &__name {
    margin-top: 17px;
    color: white;
    font-family: $font-family-museo;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      margin-left: 30px;
    }
    @include media-breakpoint-up(xl) {
      @include font-size(16px);
      margin-top: to-rem(19px);
      margin-left: 0;
      line-height: 26/16;
    }
  }
}

.trader-photo {
  display: none;
  position: absolute;
  pointer-events: none;

  &.active {
    display: block;
  }

  > img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include media-breakpoint-up(md) {
    &_1 {
      //top: 78px;
      bottom: 0;
      left: calc(50% - 400px);
      width: 337px;
      //transform: translate(-50%, -50%);
      height: 615px;
    }

    &_2 {
      //top: 40px;
      bottom: -90px;
      left: calc(50% - 480px);
      //transform: translate(-50%, -50%);
      width: (404px*0.9);
      height: (766px*0.9);
    }

    &_3 {
      //top: 50px;
      bottom: 0;
      left: calc(50% - 500px);
      width: (543px*0.9);
      height: (658px*0.9);
      //transform: translate(-50%, -50%);
    }
  }
  @include media-breakpoint-up(xl) {
    z-index: 2;
    &_1 {
      //top: to-rem(0px);
      left: calc(50% - #{to-rem(352px)});

      width: to-rem(375px);
      height: to-rem(684px);
      //transform: translate(-50%, -50%);
    }

    // Iaroslavski Galia
    &_2 {
      //top: to-rem(10px);
      bottom: to-rem(-90px);
      left: calc(50% - #{to-rem(380px)});
      //transform: translate(-50%, -50%);
      width: to-rem(404px);
      height: to-rem(766px);
    }
    // Vasserman Ben
    &_3 {
      //top: to-rem(10px);
      left: calc(50% - #{to-rem(410px)});
      //transform: translate(-50%, -50%);
      width: to-rem(543px);
      height: to-rem(658px);
    }
  }
}

.trader-info {
  display: none;
  position: relative;
  //opacity: .5;

  &.active {
    display: block;
  }

  @include media-breakpoint-up(md) {
    padding: 60px 60px 57px 52px;
    border-radius: to-rem(38px);
    background-color: #fff;
    color: #797979;

    &::before {
      content: '';
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      border: 2px dotted rgba(#000, 0.63);
      border-radius: to-rem(38px);
    }
  }
  @include media-breakpoint-up(xl) {
    padding: to-rem(49px) to-rem(55px) to-rem(59px);
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 96px;
    margin-bottom: 26px;
    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      height: auto;
      margin-bottom: to-rem(48px);
    }
  }

  &__name {
    //color: #1e1e1e;
    margin-bottom: 14px;
    font-family: $font-family-museo;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      color: $main-color;
      font-size: 30px;
    }
    @include media-breakpoint-up(xl) {
      @include font-size(42px);
    }
  }

  &__exp {
    line-height: 1;
    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }

  &__block {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 34px;
      @include media-breakpoint-up(md) {
        margin-bottom: 38px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: to-rem(64px);
      }
    }
  }

  &__row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;

    &:not(:last-child) {
      margin-bottom: 11px;
    }

    @include media-breakpoint-up(md) {
      font-size: 16px;
      line-height: 1.5;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    @include media-breakpoint-up(xl) {
      @include font-size(18px);
      line-height: (24 / 18);
      &:not(:last-child) {
        margin-bottom: to-rem(28px);
      }
    }
  }

  &__key {
    margin-right: 10px;
    font-family: $font-family-museo;
    font-weight: 600;
    @include media-breakpoint-up(md) {
      color: #1e1e1e;
    }
  }

  &__val {
    margin-left: 10px;
    text-align: right;
  }
}
