$s1-content-left: (374 / 1920 * 100%);

.viewing-page-1 .header__btn {
  left: $s1-content-left;
  transform: translateY(-50%);
}

.section-1 {
  @if ($dev-mode) {
    background: url('../img/rm/01.png') center no-repeat;
    background-size: 100% auto;
  } @else {
    //background: url('../img/page-1-bg.jpg') center no-repeat;
    //background-size: 1920px auto;
  }

  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;

  //background: red;
  &:before {
    content: '';
    background: url("../img/hero-man.png") no-repeat;
    background-size: contain;
    width: 869px;
    height: 892px;
    position: absolute;
    top: 0;
    left: 40%;
  }



  &__container {
    padding-left: $s1-content-left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    position: relative;
    z-index: 2;

    //background: url("../img/hero-man.png") 75% top no-repeat;
  }

  &__title {
    font-size: 42px;
    font-family: $font-family-neumann;
    color: white;
    text-transform: uppercase;
    line-height: 1.429;

    //max-width: 410px;
  }

  &__description {
    color: #888888;
    font-size: 18px;
    line-height: 26px;
    margin: 2.5rem 0 3rem;
  }

  &__quote {
    position: absolute;
    left: (892 / 1920 * 100%);
    bottom: 68px;

  }
}

//@mixin image-size($path, $factor: 1) {
//  width: image-width($path) / $factor;
//  height: image-height($path) / $factor;
//}

.quote {
  text-align: right;

  &__text {
    text-align: left;
    font-size: 20px;
    line-height: 26px;

    &:first-child {
      font-weight: $font-weight-semibold;
      color: $orange;

      &::before {
        content: '';
        display: inline-block;
        background: url('../img/icons/quote.svg') center no-repeat;
        background-size: contain;
        width: 68px;
        height: 63px;
        margin-right: 7px;
      }
    }
  }

  &__author {
    font-size: 18px;
    line-height: 1;
    text-align: right;
    color: #888888;
    margin-top: 26px;
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      background: url('../img/quote-decor-line.png') center no-repeat;
      width: 390px;
      height: 13px;
      position: absolute;
      right: 120%;
      bottom: 2px;
    }
  }
}
