
.services {
  @include media-breakpoint-down(sm) {
    padding-top: 56px;
    padding-bottom: 41px;

    &__title {
      margin-bottom: 34px;
      padding-left: 102px;
    }

    &__diagram_d {
      display: none;
    }
  }
  @include media-breakpoint-up(md) {
    height: 607px;
    //padding-top: 77px;

    &__title {
      display: none;
    }

    &__diagram {
      transform: scale(0.8);
      position: relative;
      //background-size: auto;
      width: 100%;
      height: 100%;
      //width: 920px;
      //height: 580px;
      margin-right: auto;
      margin-left: auto;

      background: url('../img/services-bg.png') center no-repeat;

      &_m {
        display: none;
      }

      //&::before {
      //  content: '';
      //  position: relative;
      //  display: block;
      //  background: url('../img/services-bg.png') center no-repeat;
      //  background-size: contain;
      //  width: 392px;
      //  height: 389px;
      //  top: 50%;
      //  left: 50%;
      //  transform: translate(-50%, -50%);
      //}
    }
  }
  @include media-breakpoint-up(xl) {
    height: 733px;
    //padding-top: 77px;

    &__diagram {
      transform: none;
      //width: 920px;
      //height: 580px;
    }
  }
}

.service {
  display: flex;
  position: relative;
  align-items: flex-start;

  &__img {
    display: flex;
    position: relative;
    flex: none;
    align-items: center;
    justify-content: center;

    width: 87px;
    height: 87px;
    border: 1px solid #fff;
    border-radius: 50%;

    //@include media-breakpoint-down(md) {
    //  position: absolute;
    //  left: 0;
    //  top: 0;
    //}
    &::after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @include media-breakpoint-down(md) {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
    &__hover {
      margin-left: 16px;
      padding-top: 3px;
    }
    &__text {
      margin-bottom: 10px;
      font-family: $font-family-museo;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
    }
    &__hidden {
      //color: #888;
      font-size: 14px;
      line-height: 20px;
    }
  }

  @include media-breakpoint-up(md) {
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;

    //transition: $animation;
    //opacity: 0;

    .active & {
      opacity: 1;
    }

    &_reverse {
      .service {
        &__icon {
          right: calc(100% + 11px); // Re
          left: auto;
        }

        &__hover {
          right: calc(100% + 20px); // Re
          left: auto;
        }

        &__hidden {
          right: calc(100% + 26px);
          left: auto;
          transform-origin: right top;
        }
      }
    }

    &_signal {
      z-index: 3;
      transform: translate(137px, -218px);
      transition-delay: ($delay + $delay-interval * 0);

      .service__img::after {
        top: 22px;
        left: 22px;
        width: 42px;
        height: 48px;
        background-image: url('../img/signal-icon.png');
      }
    }

    &_livecopy {
      z-index: 2;
      transform: translate(195px, -12px);
      transition-delay: ($delay + $delay-interval * 1);

      .service__img::after {
        top: 23px;
        left: 21px;
        width: 45px;
        height: 43px;
        background-image: url('../img/livecopy.png');
      }
    }

    &_individual {
      z-index: 1;
      transform: translate(88px, 163px);
      transition-delay: ($delay + $delay-interval * 2);

      .service__img::after {
        top: 21px;
        left: 24px;
        width: 38px;
        height: 43px;
        background-image: url('../img/diagram.png');
      }

      .service__hidden {
        top: auto;
        bottom: 50%;
        transform-origin: left bottom;
      }
    }

    &_hedge-fund {
      z-index: 4;
      transform: translate(-132px, 187px);
      transition-delay: ($delay + $delay-interval * 3);

      .service__img::after {
        top: 25px;
        left: 24px;
        width: 40px;
        height: 34px;
        background-image: url('../img/home.png');
      }

      .service__hidden {
        top: auto;
        bottom: 50%;
        transform-origin: right bottom;
      }
    }

    &_algotrading {
      z-index: 1;
      transform: translate(-280px, 37px);
      transition-delay: ($delay + $delay-interval * 4);

      .service__img::after {
        top: 26px;
        left: 20px;
        width: 41px;
        height: 41px;
        background-image: url('../img/rocket.png');
      }
    }

    &_academy {
      z-index: 2;
      transform: translate(-250px, -180px);
      transition-delay: ($delay + $delay-interval * 5);

      .service__img::after {
        top: 21px;
        left: 16px;
        width: 48px;
        height: 44px;
        background-image: url('../img/diagram-2.png');
      }
    }

    &_mirror-trading {
      z-index: 3;
      transform: translate(-66px, -281px);
      transition-delay: ($delay + $delay-interval * 6);

      .service__img::after {
        top: 29px;
        left: 24px;
        width: 40px;
        height: 35px;
        background-image: url('../img/cup.png');
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__hover {
      position: absolute;
      top: 50%;
      left: calc(100% + 20px); // Re

      transform: translateY(-50%);
    }
    //}
    &__text {
      color: #fff;
      font-size: 16px;
      //text-transform: uppercase;
      white-space: nowrap;
    }

    //@include media-breakpoint-up(md) {
    &__icon {
      position: absolute;
      z-index: 1;

      top: 50%;
      left: calc(100% + 11px); // Re

      width: 31px;
      height: 31px;
      margin-top: -15px;

      border: 1px solid $main-color;

      border-radius: 50%;
      background: #fff;

      &::before,
      &::after {
        content: '';
        position: absolute;

        top: 50%;
        left: 50%;

        width: 13px;
        height: 1px;
        transition: $animation;
        background: $main-color;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      &::after {
        transform: translate(-50%, -50%);
      }

      &:hover {
        &::before {
          transform: translate(-50%, -50%) rotate(90deg + 45);
        }

        &::after {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        ~ .service__hidden {
          transform: scale(1);
        }
      }
    }

    &__hidden {
      position: absolute;
      top: 50%;
      left: calc(100% + 26px);
      width: to-rem(315px);
      padding: to-rem(15px) to-rem(28px);
      transform: scale(0);
      transform-origin: left top;
      transition: $animation;

      border: 1px solid #fff;

      //background: rgba(black, .6);
      @include font-size(16px);
      color: #fff;
      line-height: (24 / 16);
    }
  }
}