.profit {
  padding-top: 90px;


  &:before {
    content: '';
    background: url('../img/page-5-bg-m.png') center no-repeat;
    background-size: contain;
    width: 1238px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30%;

    //transform: translateZ(0);
    pointer-events: none;
  }

  &__container {
    width: 100%;
    max-width: (1920 - $prifit-left * 2);
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    color: white;
    //max-width: 410px;
    margin-bottom: 2.5rem;
  }

  &__subtitle {
    color: #888888;
    margin-bottom: 76px;
    max-width: 637px;

    font-size: 18px;
    line-height: 26px;
  }
}

.btn-play {
  @include button-reset();

  position: relative;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 50px;
  //outline: none;

  &:hover {
    .btn-play__icon {
      &::before {
        transform: rotate(180deg);
      }

      &::after {
        transform: rotate(-180deg);
      }
    }
  }

  &__icon {
    position: relative;
    vertical-align: middle;

    background: url('../img/icons/play.svg');
    width: 17px;
    height: 23px;
    display: inline-block;
    margin-right: 70px;
    //
    //&::before,
    //&::after {
    //
    //}

    &::before {
      content: '';
      background: url('../img/play-outer-circle.png') center no-repeat;
      width: 136px;
      height: 136px;
      position: absolute;

      left: 50%;
      top: 50%;

      margin-left: (-136px / 2);
      margin-top: (-136px / 2);

      transition: all .5s ease;
      border-radius: 50%;
    }

    &::after {
      content: '';
      background: url('../img/play-inner-circle.png') center no-repeat;
      background-size: contain;
      width: 109px;
      height: 109px;
      position: absolute;

      left: 50%;
      top: 50%;

      margin-left: (-109px / 2);
      margin-top: (-109px / 2);

      transition: all .5s ease;
      border-radius: 50%;
    }
  }
  &__text {
    vertical-align: middle;
  }
}
