.calculator {
  padding-top: 26px;
  padding-bottom: 105px;

  @include media-breakpoint-up(lg) {
    padding-top: to-rem(78px);
    padding-bottom: to-rem(70px);
  }
  //
  //@if $dev-mode {
  //  display: block;
  //  padding-top: 284px;
  //}

  &::before {
    content: '';
    position: absolute;
    background: url("../img/tel.png") no-repeat;
    background-size: contain;
    width: 174px;
    height: 348px;
    right: -12%;
    bottom: 45px;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 0;

    &::before {
      width: response-width(508px);
      height: response-width(1016px);
      right: response-width(310px);
      top: calc(50vh - #{response-width(290px)});
    }
  }

  @include media-breakpoint-up(lg) {
    &__container {
      width: 100%;
      max-width: response-width(1920 - $prifit-left * 2);
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    color: white;
    //max-width: 410px;
    margin-bottom: 18px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 2.5rem;
    }
  }

  &__subtitle {
    max-width: 637px;
    margin-bottom: 78px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 4rem;
    }
  }
  &__stroke {
    position: relative;
    margin-bottom: 89px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__icon {
    position: absolute;
    bottom: 100%;
    margin-bottom: -30px;

    fill: $main-color;
    &_1 {
      svg {
        width: 48px;
        height: 36px;
      }
    }
    &_2 {
      svg {
        width: 42px;
        height: 42px;
      }
    }
  }
  &__text {
    font-size: 18px;
  }
  &__value {
    color: $main-color;
    font-family: $font-family-neumann;

    font-size: 24px;
    margin-left: 60px;

    //position: absolute;
  }
  @include media-breakpoint-up(lg) {
    &__stroke {
      position: relative;
      display: flex;
      align-items: center;
      //height: 60px;
      margin-bottom: to-rem(55px);
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__icon {
      bottom: auto;
      margin-bottom: 0;

      position: relative;
      width: to-rem(100px);
      order: 1;
      &_1 {
        svg {
          width: to-rem(71px);
          height: to-rem(61px);
        }
      }
      &_2 {
        svg {
          width: to-rem(61px);
          height: to-rem(61px);
        }
      }
    }
    &__text {
      @include font-size(24px);
      margin-left: 0;
      order: 2;
    }
    &__value {
      @include font-size(42px);
      margin-left: to-rem(30px);
      order: 3;
    }
  }
}