.section-4 {
//
//  @if $dev-mode {
//    display: block;
//    padding-top: 246px;
//  }
}


.mirror-trading {
  padding-top: 27px;

  &__title {
    margin-bottom: 19px;
  }
  &__subtitle {
    margin-bottom: 36px;

  }
  @include media-breakpoint-up(lg) {
    padding-top: to-rem(72px);
    text-align: center;
    &__title {
      margin-bottom: to-rem(40px);
    }
    &__subtitle {
      max-width: response-width(1170px);
      margin-left: auto;
      margin-right: auto;

      margin-bottom: to-rem(90px);
    }
  }
}

.mirror-trading-steps {

  text-align: left;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(lg) {

    max-width: response-width(1300px);
    display: flex;
    justify-content: center;
    min-height: to-rem(220px);
    align-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 37px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      &:nth-child(1) {
        max-width: to-rem(240px + 100);
        margin-right: to-rem(80px);
      }
      &:nth-child(2) {
        max-width: to-rem(185px + 100);
        margin-right: to-rem(80px);
      }
      &:nth-child(3) {
        max-width: to-rem(400px + 100);
      }
      &:nth-child(4) {
        max-width: to-rem(400px + 100);
        margin-right: to-rem(80px);
      }
      //&:nth-child(5) {
      //  max-width: 400px;
      //}
    }
  }
  &__icon {
    margin-right: 20px;

    width: 48px;
    height: 48px;
    fill: $main-color;
    flex-shrink: 0;
    svg {
      max-width: 100%;
      max-height: 100%;
    }

    @include media-breakpoint-up(lg) {
      width: to-rem(69px);
      height: to-rem(69px);
      margin-right: to-rem(30px);
    }
  }
  &__title {
    font-size: 18px;
    line-height: 24px;

    @include media-breakpoint-up(lg) {
      @include font-size(22);
      line-height: 1.25;
    }
  }
  &__count {
    color: $main-color;
  }
}