//$dev-mode: true;

$dev-mode: false !default;


$control-disabled: false;
$enable-responsive: true;
//$enable-responsive-font-sizes: $enable-responsive;
//$rfs-breakpoint: 1920px;
@mixin dev() {
  @if $dev-mode {
    @content;
  }
}

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function response-width($number, $width: 1920) {
  @if ($enable-responsive) {
    $number: strip-unit($number);
    @return ($number/$width * 100vw);
  } @else {
    @return $number;
  }
}

@function response-height($number, $height: 960) {

  $number: strip-unit($number);

  @return ($number/$height * 100vh);
}

@function to-rem($num) {
  @if ($enable-responsive) {
    @if unit($num) == 'px' {
      @return strip-unit($num)/16 * 1rem;
    }
  } @else {
    @return $num;
  }
}

$viewport-padding: (
  xs: 20px,
  md: 20px,
  xl: 70px
);

//$grid-breakpoints: (
//  xs: 0,
//  md: 768px,
//  xl: 1200px
//);

$container-max-widths: (
  xs: 320px,
  md: 768px,
  xl: 1170px
);

$font-family-neumann: 'Neumann', sans-sarif;
$font-family-museo: 'Museo Cyrl', sans-sarif;
$font-family-muller: 'Muller', sans-sarif;

$font-family-base: $font-family-muller;
$font-size-base: 1rem;
$font-url: '../fonts/';
$line-height-base: 1.2;
$animation: all .3s ease;

$delay: .5s;
$delay-interval: .05s;

$body-bg: #fbfbfb;
$body-color: #6c6c6c;

$orange: #f6c55d;

$main-color: #2698e5;


$text-color: #2698e5;
$gradient-color-start: #4fc6ee;
$gradient-color-end: #1d8fec;
$btn-color-bg: #2a9de0;
$btn-color-shadow: #015fbf;
$btn-color-shadow-bottom: #318ff0;

$linear-gradient: linear-gradient(140deg, rgb(51, 166, 217) 0%, rgb(29, 143, 236) 100%);

@mixin button-reset {
  border: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin card {
  background-color: white;
  border-radius: 11px;
  box-shadow: 0px 3px 11px 0px rgba(#0d0d0d, 0.05);
}

@import 'functions';
@import 'variables';
@import 'mixins';
@import 'reboot';

//@import 'lib/fullpage';
//@import 'vendor/fullpage';
@import "vendor/jquery.fancybox";
//@import 'lib/onepage-scroll';

@import 'fonts';

$hero-left: 374px; // 1
$prifit-left: 300px; // 5
$calculator-left: 300px; // 6
$calculator-2-left: 350px; // 9

@import 'global';

@import 'fixed-controls';

@import 'section-1';
@import "section-2";
@import 'section-3';
@import 'section-4';
@import 'section-5';
@import 'section-6';
@import 'section-7';
@import 'affiliate-program'; // 8
@import "calculator-2"; // 9
@import "faq"; // 10
@import "last"; // 11
